# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependencies (more on this later)
vendor/

# Ignore our binary
./demo-go-webservice

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
